$primary: #1058B0;
//$enable-rounded: false;
$enable-shadows: true;
$enable-gradients: true;

// ------ copied from bootstrap.scss ------------
// Configuration
@import "../bootstrap-scss/functions";
@import "../bootstrap-scss/variables";
@import "../bootstrap-scss/mixins";
@import "../bootstrap-scss/utilities";
// Layout & components
@import "../bootstrap-scss/root";
@import "../bootstrap-scss/reboot";
@import "../bootstrap-scss/type";
//@import "../bootstrap-scss/images";
//@import "../bootstrap-scss/containers";
//@import "../bootstrap-scss/grid";
@import "../bootstrap-scss/tables";
@import "../bootstrap-scss/forms";
@import "../bootstrap-scss/buttons";
@import "../bootstrap-scss/transitions";
//@import "../bootstrap-scss/dropdown";
//@import "../bootstrap-scss/button-group";
//@import "../bootstrap-scss/nav";
//@import "../bootstrap-scss/navbar";
//@import "../bootstrap-scss/card";
//@import "../bootstrap-scss/accordion";
//@import "../bootstrap-scss/breadcrumb";
//@import "../bootstrap-scss/pagination";
//@import "../bootstrap-scss/badge";
@import "../bootstrap-scss/alert";
//@import "../bootstrap-scss/progress";
//@import "../bootstrap-scss/list-group";
@import "../bootstrap-scss/close";
//@import "../bootstrap-scss/toasts";
@import "../bootstrap-scss/modal";
//@import "../bootstrap-scss/tooltip";
//@import "../bootstrap-scss/popover";
//@import "../bootstrap-scss/carousel";
@import "../bootstrap-scss/spinners";
//@import "../bootstrap-scss/offcanvas";

// Helpers
@import "../bootstrap-scss/helpers";

// Utilities
@import "../bootstrap-scss/utilities/api";
// scss-docs-end import-stack

// ------ /copied from bootstrap.scss ------------


html {
  font-size: 14px;
}

svg.icon {
  width: 1.5rem;
  height: 1.5rem;
  margin-top: -.35rem;
  margin-bottom: -.15rem;
}

h1, h2, h3 {
  font-weight: normal;
}

label.hideinput {
  position: relative;
  & > input {
    opacity: 0;
    height: 0;
    width: 0;
    position: absolute;
    z-index: -1
  }
}

/*table.form {
  width: 100%;
  & > tbody {
    & > tr {
      & > th { 
        width: 1%;
        vertical-align: top;
        text-align: right;
        white-space: nowrap;
        padding: .3rem 1rem 1rem 0;
      }

      & > td {
        padding: 0 0 1em 0;
        vertical-align: top;

        &.pad {
          padding-top: .3rem
        }
      }
    }
  }
}
*/
input[type="date"].form-control, input[type="month"].form-control {
  display: inline-block;
  min-width:125px;
  width: auto;
}


@import "_form.scss";
