<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="JespersAspHelpers" version="1.24.0" targetFramework="net48" />
  <package id="JespersSQLiteHelpers" version="1.1.0" targetFramework="net48" />
  <package id="JhJson" version="1.11.1" targetFramework="net48" />
  <package id="Microsoft.CodeDom.Providers.DotNetCompilerPlatform" version="3.6.0" targetFramework="net48" />
</packages>